// ===== Variables =====
$color-white: rgb(255, 255, 255);
$color-pink: rgb(255, 207, 207);
$padding-left: 30px;

@mixin a-hover {
  &:hover {
    text-decoration: underline;
  }
}

// ===== Base =====
html,
body {
  margin: 0;
  font-family: Arial;
  color: $color-white;
}

p,
a {
  font-size: 0.75rem;
  color: inherit;
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
}

video {
  width: 50%;
  height: auto;
}

// ===== Layout =====
.container {
  min-height: 100%;
  display: flex;

  // one place for hover for all links inside container
  a {
    @include a-hover;
  }

  .nav {
    width: 15%;
    min-width: 140px;
    color: $color-pink;
    padding-top: 55px;
    padding-right: 30px;
    text-align: center;

    h4 {
      -webkit-margin-before: 0;
      margin-left: 50px;
    }

    a {
      font-size: 0.85rem;
    }

    ul {
      li {
        font-size: 0.85rem;
      }
    }
  }

  .main {
    width: 85%;
    min-height: 750px;
    min-width: 600px;
    background-color: $color-pink;

    > * {
      padding-left: $padding-left;
    }

    h1 {
      font-size: 62px;
      -webkit-margin-before: 0;
      padding-top: 40px;
    }

    img {
      height: 350px;
      width: 550px;
    }

    p {
      width: 55%;
      min-width: 550px;
    }
  }
}