// ===== MIXINS =====
@mixin stripes($direction, $width-percent, $stripe-color, $stripe-background: #FFF) {
  background: repeating-linear-gradient(
    $direction,
    $stripe-background,
    $stripe-background ($width-percent - 1),
    $stripe-color 1%,
    $stripe-background $width-percent
  );
}

@mixin transform($t) {
  transform: $t;
  -webkit-transform: $t;
  -moz-transform: $t;
  -ms-transform: $t;
  -o-transform: $t;
}

@mixin backface-visibility($visibility) {
  backface-visibility: $visibility;
  -webkit-backface-visibility: $visibility;
  -moz-backface-visibility: $visibility;
  -ms-backface-visibility: $visibility;
  -o-backface-visibility: $visibility;
}

@mixin transform-style($style) {
  transform-style: $style;
  -webkit-transform-style: $style;
  -moz-transform-style: $style;
  -ms-transform-style: $style;
  -o-transform-style: $style;
}

@mixin transition($time) {
  transition: $time;
  -webkit-transition: $time;
  -moz-transition: $time;
  -o-transition: $time;
}

// ===== LAYOUT =====
.notecard {
  width: 300px;
  height: 180px;
  border: 1px solid black;
  display: inline-block;
  margin: 20px;
  font-family: Roboto, sans-serif;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .2);

  position: relative;
  perspective: 1000px;

  // задания: сохранить 3D + плавность
  @include transform-style(preserve-3d);
  @include transition(0.4s);

  .front,
  .back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 10px;

    // задание с аргументом
    @include backface-visibility(hidden);

    // плавный поворот сторон
    @include transition(0.4s);
  }

  .front {
    z-index: 2;
    font-size: 20px;

    // front смотрит на нас
    @include transform(rotateY(0deg));

    .word {
      display: block;
      text-align: center;
      position: relative;
      top: 40%;
    }
  }

  .back {
    z-index: 1;
    word-wrap: break-word;
    line-height: 1.6;

    // в задании: добавить transform rotateY(-180deg) / (180deg)
    // Главное: back должен быть "сзади" до hover
    @include transform(rotateY(180deg));

    .definition {
      width: 100%;
      height: 100%;

      .photo {
        width: 60%;
        height: 90px;
        margin: 10px auto 0;

        background-image: url("../img/titanosaur.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  // задание про &:hover
  &:hover {
    .front {
      @include transform(rotateY(-180deg));
    }

    .back {
      @include transform(rotateY(0deg));
    }
  }
}