@import url(https://fonts.googleapis.com/css?family=Pacifico);
//variables here:
$translucent-white: rgba(255, 255, 255, 0.3);
$icon-square-leght: 300px;


h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.banner {
  font-family: 'Pacifico', cursive;
  height: 400px;
  background-image: url("../img/lemonade.jpg");
  position: relative;

  border: {
    top: 4px solid black;
    bottom: 4px solid black;
  }

  .slogan {
    position: absolute;
    border: 4px solid black;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 200px;
    text-align: center;

    background-color: $translucent-white;

    span {
      font-size: 24px;
      line-height: 200px;
    }
  }
}


.container {
  text-align: center;
  font-family: 'Pacifico', cursive;

  .icon {
    display: inline-block;
    margin: 2px;
    border: 4px solid black;
    font-size: 32px;

    width: $icon-square-leght;
    height: $icon-square-leght;
  }
}
