// ===== VARIABLES ===== 
$parallax-height: 100vh;
$center-margin: 0px auto;

// ===== MIXINS ===== 
@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

@mixin parallax-background($file) {
  background: url(#{$file}) no-repeat center center fixed;
  @include background-size(cover);
}

// ===== BASE ===== 
html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: #2e3738;
}

// ===== PARALLAX SECTIONS ===== 
#landscape,
#monkeys {
  width: 100%;
  height: $parallax-height; // (1) reference variable
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateZ(-1px);

  h1 {
    text-transform: uppercase;
    font-family: 'Bitter', serif;
    letter-spacing: 0.06em;
    font-size: 120px;
    color: #FFF;
    opacity: 0.7;
    text-align: center;

    // (6)
    transform: translateZ(-2px);
  }
}

// ===== NDIVIDUAL BACKGROUNDS  ===== 

#landscape {
@include parallax-background("../img/monkeys.jpg");
}

#monkeys {
  // (5) exactly like your instruction
@include parallax-background("../img/landscape.jpg");
}

// ===== CONTENT =====
p {
  width: 70%;
  padding: 5%;
  margin: $center-margin; // (1) reference variable
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;
}